{# Looking fot these files in given path #}
{% use '_metas-and-scripts.html.twig' %}
{% use '_header-and-share.html.twig' %}
{% use '_html-elements.html.twig' %}

<!DOCTYPE HTML>

<html lang="fr" class="h-full relative"> 
	<head>
		{# {{ block('consent') }} #}

		<script src="https://cdn.tailwindcss.com"></script>  
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
		<!-- <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@600&display=swap" rel="stylesheet"> -->
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;600&display=swap" rel="stylesheet"> 
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet"> 
		<link href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.css" rel="stylesheet">

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/main.css">
		<!-- <link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" /> -->

		{# <?php include 'hb_card_tp.php'; ?> #}
		{{ block('head_brand') }}
		
	</head>
	<!-- OneTrust Cookies Consent Notice start for blick.ch -->
	<!-- <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-document-language="true" type="text/javascript" charset="UTF-8" data-domain-script="d57e5842-f42f-46bc-a4ea-4a82bd82322c" ></script>
	<script type="text/javascript">
	function OptanonWrapper() { } 
	</script> -->
	<!-- OneTrust Cookies Consent Notice end for blick.ch --> 
	{# {{ block('frame') }} #}
	<body class="bg-white h-full"> 
		<div class="wrapper">
		<!-- {{ block('loading_overlay') }} -->
		{{ block('gtm') }}
		
		{{ block('header') }}
		{{ block('menu_overlay') }}
		
		

		
		<div class="hero bg-custom-color overflow-hidden">

			<div class="container max-w-2xl pt-24 relative z-10">
				<!-- TITRE -->
				<div class="w-full text-center px-4 md:px-0">
					<h1 class="inline-block uppercase text-gradient font-semibold mb-4 md:mb-12 pb-4 md:pb-8 relative">
						Suisse - Europe :<br>Tabous et désaccords
						<span class="w-full h-1 bg-black absolute bottom-0 left-1/2 -translate-x-1/2 hidden md:block"></span>
					</h1>
				</div>
			</div>

				<!-- GANTS -->
				<!-- <div class="opening -mx-4 md:-mx-96 md:mb-8"> -->
			<div class="aspect-custom relative opening">
				<img src="img/this/opening-left.png" alt="" class="opening-left absolute -left-6">
				<img src="img/this/opening-right.png" alt="" class="opening-right absolute -right-6">
			</div>
				<!-- </div> -->

			<div class="container bottom-0 left-1/2 max-w-2xl pb-8 md:pb-12">
				<!-- SELECT -->
				<div class="relative w-full px-4 md:px-0">
					<span id="chapter-selection-arrow" class="absolute h-full right-10 md:right-5 flex items-center"><img src="img/dropdown-arrow.png" alt=""></span>
					<select id="chapter-selection" class="bg-white border border-4 md:border-4 border-black text-lg md:text-xl rounded-2xl focus:ring-blue-500 focus:border-blue-500 block w-full p-3 md:p-4">
						<option value="" disabled selected hidden class="text-red">Choix du chapitre</option>
						<option value="title0">Introduction</option>
						<option value="title1">Chapitre 1 : La souveraineté</option>
						<option value="title2">Chapitre 2 : L'immigration</option>
						<option value="title3">Chapitre 3 : Les juges étrangers</option>
						<option value="title4">Chapitre 4 : Les salaires</option>
						<option value="title5">Chapitre 5 : La démocratie</option>
					</select>
				</div>
						
			</div>
		</div>
		
		

		

		<div class="container max-w-screen-2xl px-4 relative bg-white">
			<div id="title0" class="chapeau container py-8 max-w-2xl">
				<h2 class="text-xl md:text-2xl mt-2 md:mt-12">
					Suisse-Union Européenne: tous les familiers de ce dossier vous le diront, rien n'est plus difficile que d'aligner les vues de Berne et de Bruxelles. La réalité des faits est pourtant implacable. La Confédération et l'UE ont besoin l'une de l'autre. Malgré les tabous et malgré leurs désaccords. Portrait d'un couple colérique condamné à vivre ensemble.
				</h2>
			</div>            
			{{ block('authors') }}
			<!-- <div id="chart"></div> -->
			<div class="container mt-8 mb-12 max-w-2xl">
				<p class="lettrine text-lg font-light mb-6">
					Je l'avoue volontiers: décrypter les relations entre la Suisse et l'Union européenne est une mission assurée de vous donner le tournis. Imaginez plutôt: plus de 30 ans séparent la victoire du «non» au référendum sur l'Espace économique européen du 6 décembre 1992, de l'annonce par le Conseil fédéral d'une reprise des négociations avec Bruxelles en novembre 2023. Et entre temps, que s'est-il passé ?
				</p>

				<p class="text-lg font-light mb-16 md:mb-20">
					La réponse est indiscutable: la Suisse et l'UE se sont rapprochées au point d'être aujourd'hui de solides partenaires. Alors, faut-il s'en tenir aux colères helvétiques instrumentalisées par l'UDC à chaque votation ou presque ? Ou regarder le verre à moitié plein d'une Suisse résolue à demeurer un pays tiers de l'Union, mais solidement arrimée à l'indispensable marché intérieur européen ?
				</p>

			</div>
		</div>
		
		<!-- CHAPITRE 1 -->
		<section id="title1" class="bg-custom-color overflow-visible py-6 md:py-12 mb-16">
			<div class="container max-w-2xl relative">
				<img src="img/this/title-dot.svg" alt="" class="w-3/4 top-0 mx-auto">
				<div class="absolute top-0 left-1/2 -translate-x-1/2 text-center">
					<span class="uppercase text-normal md:text-xl font-sans font-light my-3 md:my-5 block tracking-widest">Chapitre 1</span>
					<h3 class="uppercase font-semibold pb-2.5 md:pb-4 relative">
						<span class="w-44 md:w-64 h-1 bg-black absolute top-0 left-1/2 -translate-x-1/2"></span>
						<span class="w-44 md:w-64 h-1 bg-black absolute bottom-0 left-1/2 -translate-x-1/2"></span>
						La&nbsp;souveraineté
					</h3>
				</div>
				<img src="img/this/title-souverainete.png" alt="" class="absolute -bottom-8 md:-bottom-12">
			</div>
		</section>

		<div class="container max-w-screen-2xl px-4 relative bg-white">
			<div class="container max-w-2xl">

				<p class="lettrine text-lg font-light mb-6">La Suisse va-t-elle disparaître? C’est le refrain de l’UDC qui marche le mieux au hit-parade des phobies politiques helvétiques. Un mot résume cette peur, sans cesse agitée par Christoph Blocher et les siens depuis 1992, l'année qui marqua l'irruption du tribun zurichois au premier plan de la vie nationale: la souveraineté helvétique ne survivra pas à un rapprochement de la Confédération avec l’Union européenne.
				</p>
				
				
			</div>
		</div>

		<div class="container max-w-screen-2xl px-4 bg-white">
			<div class="container max-w-2xl relative">
			
				<p class="text-lg font-light mb-6 w-full md:w-3/5">Ah bon? Soyons sérieux: la Suisse fait partie de l’espace Schengen de libre circulation des personnes depuis le 12 décembre 2008. Son adhésion, rappelons-le, a été approuvé le 5 juin 2005 par référendum, grâce à une nette victoire du oui (54,6%). Bis répetita le 15 mai 2022, lorsque 71,5% des électeurs helvétiques ont accepté d’augmenter les moyens financiers de l’agence Frontex, chargée du contrôle des frontières extérieures des pays membres de Schengen. La Suisse a-t-elle pour autant disparu? Bien sûr que non. A-t-elle pour autant perdu sa capacité de dire «non» aux directives européennes? Ses frontières se sont-elles volatilisées ? La réponse, là aussi, est non.
				</p>

				<blockquote class="quote2 relative md:absolute w-4/5 mx-auto md:w-3/5 left-auto md:left-3/4 top-2/4 md:-translate-y-1/2 text-custom-dark1 pt-3 md:pt-6 pb-5 md:pb-5 mb-10 md:mb-0 text-center">
					<img src="img/this/blocher.png" alt="" class="mx-auto w-20 md:w-24 mb-6">
					<div class="linetop w-full h-px bg-custom-dark1 absolute top-0" style="width: 100%;"></div>
					<div class="linebottom w-full h-px bg-custom-dark1 absolute bottom-0" style="width: 100%;"></div>
					<span class="quote-txt block">« Le peuple suisse clairvoyant a toujours écarté les rêveries d’une Europe sans frontière en votant pour l’UDC. »</span>
					<span class="auth block mt-5 text-custom-color " style="translate: none; rotate: none; scale: none; transform: translate(0px); opacity: 1; visibility: inherit;">– Christophe Blocher, Zurich, Janvier 2016</span>
				</blockquote>
				
			</div>
		</div>

		<div class="container max-w-screen-2xl px-4 relative bg-white">
			<div class="container mb-12 max-w-2xl">

				<p class="text-lg font-light mb-6">Cette disparition de l’exception helvétique demeure pourtant, de très loin, la thématique la plus porteuse de l’UDC et des détracteurs de l’Union européenne. Logique. Car qui dit Suisse, aujourd’hui, dit prospérité, neutralité, démocratie directe, et surtout capacité à filtrer ou adapter la législation mise en place par Bruxelles, dont nous nous inspirons en réalité très souvent. Bref, c'est l'Europe à la carte. La souveraineté, c'est prendre ce qui rapporte et laisser le reste...
				</p>

				<figure class="float-right w-full">
					<div class="container pt-4 pb-6">
						<div class="w-full">
							<img src="img/this/blocher-3.png" alt="Photo du consommateur" class="w-full">
							<figcaption class="py-2 text-xs opacity-50">Souveraineté: = Prospérité:  le mot d'ordre de l'UDC n'a pas changé depuis trente ans. Christoph Blocher l'a promis: la souveraineté Suisse  sera le refrain de sa vie</figcaption>
						</div>
					</div>
				</figure>

				<p class="text-lg font-light mb-6">Le débat sur cette fichue souveraineté est aussi miné par un mélange des genres, dont les nationalistes raffolent. La Suisse, depuis le référendum du 6 décembre 1992 sur l’Espace économique européen, a rejeté toute intégration dans un ensemble communautaire. Elle n’est pas, comme la Norvège, le Liechtenstein ou l’Islande, liée à l’UE par un carcan institutionnel. C’est d’ailleurs pour éviter cela que le Conseil fédéral a rejeté le projet d’accord-cadre avec Bruxelles, le 21 mai 2021. Trop contraignant. Trop proche d’une simili-adhésion à cet ensemble composé de 27 pays membres aussi divers que l’Allemagne et Chypre. Alors basta!
				</p>

				<figure class="float-right w-full">
					<div class="container pt-4 pb-6">
						<div class="w-full">
							<span class="text-xl md:text-2xl chart-title block mb-2 border-t-custom border-t-black pt-4 pb-4 md:pb-3 leading-none">6 décembre 1992: une Suisse coupée en deux. Moyenne suisse: 49.7% de oui</span>
							<img src="img/this/votations.gif" alt="Photo du consommateur" class="w-full">
							<figcaption class="py-2 text-xs opacity-50">Données: Chancellerie fédérale/OFS</figcaption>
						</div>
					</div>
				</figure>

				<p class="text-lg font-light mb-6">Problème: l’isolement a toujours un prix. Économique. Politique. Diplomatique. C’est ce prix que le Conseil fédéral a décidé de négocier en rouvrant des négociations avec l’Union. La formule choisie, sans surprise, est celle qui a marché dans le passé: des accords bilatéraux sectoriels, qui forgent un partenariat thématique et avant tout économique. Reste la question qui fait tant couler d’encre: un pays de huit millions d’habitants, placé au centre géographique d’une Union de 500 millions de citoyens, peut-il demeurer une exception?
				</p>

				<p class="text-lg font-light mb-16 md:mb-20">
					En décidant le 28 février 2022, soit quatre jours après l'invasion de l'Ukraine par la Russie, d'appliquer les sanctions contre Moscou décidées par l'Union Européenne, le Conseil fédéral a donné la réponse. 
				</p>

				

			</div>
			
		</div>

		<!-- CHAPITRE 2 -->
		<section id="title2" class="bg-custom-color overflow-visible py-6 md:py-12 mb-16">
			<div class="container max-w-2xl relative">
				<img src="img/this/title-dot.svg" alt="" class="w-3/4 top-0 mx-auto">
				<div class="absolute top-0 left-1/2 -translate-x-1/2 text-center">
					<span class="uppercase text-normal md:text-xl font-sans font-light my-3 md:my-5 block tracking-widest">Chapitre 2</span>
					<h3 class="uppercase font-semibold pb-2.5 md:pb-4 relative">
						<span class="w-44 md:w-64 h-1 bg-black absolute top-0 left-1/2 -translate-x-1/2"></span>
						<span class="w-44 md:w-64 h-1 bg-black absolute bottom-0 left-1/2 -translate-x-1/2"></span>
						L'immigration
					</h3>
				</div>
				<img src="img/this/title-immigration.png" alt="" class="absolute -bottom-4">
			</div>
		</section>

		<div class="container max-w-screen-2xl px-4 relative bg-white">
			<div class="container max-w-2xl">
						
				
				<!-- <figure class="w-72 float-right ml-6 mb-6 -mr-48">
					<img src="img/this/udc-1.jpg" alt="La manière dont sébastien ingère sa drogue">
					<figcaption class="py-2 text-xs">L'immigration de masse a été, pour l'UDC, l'un des thèmes les plus porteurs en termes d'affiches électorales et de slogan</figcaption>
				</figure> -->

				<p class="lettrine text-lg font-light mb-6">
					Vous aimez les paradoxes? Alors examinons celui-ci. Voici un pays, la Suisse, où les étrangers représentent officiellement 29% de la population totale, soit plus que les États-Unis ou la France. Or dans ce pays, 29,9% – tiens, un chiffre similaire – des personnes interrogées par l’institut Ipsos pour Le Temps avant les législatives du 22 octobre 2023 estimaient que la question migratoire est l’une de celles qui «ont le plus d’impact sur leur vote». Ajoutons un chiffre tiré de la même enquête d’opinion, et le malaise est patent: 41% des Suisses, selon ce sondage, jugent la situation migratoire très préoccupante. 54% des Helvètes refusent par ailleurs la solution de faire venir des migrants pour faire face aux pénuries d’emploi.
					
				</p>

				<figure id="chart-immigration" class="w-full mx-auto pt-4 pb-6">

					<span class="text-xl md:text-2xl chart-title block mb-2 border-t-custom border-t-black pt-4 pb-4 md:pb-3 leading-none">La Suisse parmi les pays européens dont le pourcentage d'étrangers est le plus élevé</span>

					<ul class="font-sans-2 font-semibold text-lg leading-none">
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">1</span>
							<img src="img/this/lux.svg" alt="" class="mr-3">
							<span class="block w-12">LUX</span>
							<span class="bar bar-first block grow bg-custom-bar h-5 flex items-center relative" value="47.2">
								<span class="value absolute -right-14"><span class="counter">0</span>%</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">2</span>
							<img src="img/this/flag-swi.svg" alt="" class="mr-3">
							<span class="block w-12">SUI</span>
							<span class="bar block grow bg-custom-bar2 h-5 flex items-center relative" value="26.0">
								<span class="value absolute -right-14"><span class="counter">0</span>%</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">3</span>
							<img src="img/this/mal.svg" alt="" class="mr-3">
							<span class="block w-12">MAL</span>
							<span class="bar bar-first block grow bg-custom-bar h-5 flex items-center relative" value="20.1">
								<span class="value absolute -right-14"><span class="counter">0</span>%</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">4</span>
							<img src="img/this/chi.svg" alt="" class="mr-3">
							<span class="block w-12">CHY</span>
							<span class="bar block grow bg-custom-bar h-5 flex items-center relative" value="18.5">
								<span class="value absolute -right-14"><span class="counter">0</span>%</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">5</span>
							<img src="img/this/aut.svg" alt="" class="mr-3">
							<span class="block w-12">AUT</span>
							<span class="bar block grow bg-custom-bar h-5 flex items-center relative" value="17.1">
								<span class="value absolute -right-14"><span class="counter">0</span>%</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">6</span>
							<img src="img/this/est.svg" alt="" class="mr-3">
							<span class="block w-12">EST</span>
							<span class="bar block grow bg-custom-bar h-5 flex items-center relative" value="15.1">
								<span class="value absolute -right-14"><span class="counter">0</span>%</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">7</span>
							<img src="img/this/let.svg" alt="" class="mr-3">
							<span class="block w-12">LET</span>
							<span class="bar block grow bg-custom-bar h-5 flex items-center relative" value="13.3">
								<span class="value absolute -right-14"><span class="counter">0</span>%</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">8</span>
							<img src="img/this/ire.svg" alt="" class="mr-3">
							<span class="block w-12">IRE</span>
							<span class="bar block grow bg-custom-bar h-5 flex items-center relative" value="13.0">
								<span class="value absolute -right-14"><span class="counter">0</span>%</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">9</span>
							<img src="img/this/bel.svg" alt="" class="mr-3">
							<span class="block w-12">BEL</span>
							<span class="bar block grow bg-custom-bar h-5 flex items-center relative" value="12.8">
								<span class="value absolute -right-14"><span class="counter">0</span>%</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">10</span>
							<img src="img/this/ger.svg" alt="" class="mr-3">
							<span class="block w-12">ALL</span>
							<span class="bar block grow bg-custom-bar h-5 flex items-center relative" value="12.7">
								<span class="value absolute -right-14"><span class="counter">0</span>%</span>
							</span>
						</li>
						
					</ul>
					
					<figcaption class="py-2 text-xs opacity-50">Données: Insee.fr
					</figcaption>
				</figure>
				

				<!-- <figure class="mb-6">
					<div class="pt-4 grid gap-4 md:grid-cols-2">
						<div class="">
							<img src="img/this/udc-1.jpg" alt="La manière dont sébastien ingère sa drogue">
						</div>
						
						<div class="">
							<img src="img/this/udc-3.jpg" alt="La manière dont sébastien ingère sa drogue">
						</div>
					</div>
					<figcaption class="py-2 text-xs">L'immigration de masse a été, pour l'UDC, l'un des thèmes les plus porteurs en termes d'affiches électorales et de slogan
					</figcaption>
				</figure> -->
			</div>
		</div>

		<div class="container max-w-screen-2xl px-4 relative bg-white">
			<div class="container max-w-2xl">

				<p class="text-lg font-light mb-6">Le rapprochement entre Berne et Bruxelles a-t-il aggravé les choses? La réponse est ambivalente. Et elle doit impérativement tenir compte de la position géographique du pays qui, faute d’ouverture maritime, n’est pas une destination de premier accueil.
				</p>

				
			</div>
		</div>

		

		<div class="container max-w-screen-2xl px-4 bg-white">
			<div class="container max-w-2xl relative">
				<blockquote class="quote2 relative md:absolute w-4/5 mx-auto md:w-3/5 left-auto md:left-3/4 top-2/4 md:-translate-y-1/2 text-custom-dark1 pt-3 md:pt-6 pb-5 md:pb-5 mb-10 md:mb-0 text-center">
					<img src="img/this/viviane.png" alt="" class="mx-auto w-20 md:w-24 mb-6">
					<div class="linetop w-full h-px bg-custom-dark1 absolute top-0" style="width: 100%;"></div>
					<div class="linebottom w-full h-px bg-custom-dark1 absolute bottom-0" style="width: 100%;"></div>
					<span class="quote-txt block" style="translate: none; rotate: none; scale: none; transform: translate(0px); opacity: 1; visibility: inherit;">« Le marché intérieur de l'Union européenne est un tout et la Suisse ne peut pas y choisir ce qui lui plaît »</span>
					<span class="auth block mt-5 text-custom-color " style="translate: none; rotate: none; scale: none; transform: translate(0px); opacity: 1; visibility: inherit;">– Viviane Reding, Vice présidente Luxembourgeoise de la Commission européenne, 19 janvier 2014
					</span>
				</blockquote>
				<p class="text-lg font-light mb-6 w-full md:w-3/5">L’immigration a augmenté dans la Confédération de 20 886 personnes (+ 14,8%) par rapport à 2021, contre 2,7 millions de personnes en Allemagne. Le tremblement de terre a eu lieu le 9 février 2014, lorsque 50,34% des votants disent "oui" à l'instauration de contingents pour limiter l'immigration de masse, comme le préconise l'UDC.  Et pourtant, une majorité de Suisses fait confiance au dispositif Schengen, pour contrôler les flux de personnes au sein de cet espace de libre circulation. La preuve? Les électeurs ont rejeté en 2020 l’initiative soutenue par l’UDC visant à réduire l’immigration des ressortissants de l’Union européenne. Ils n’ont pas validé la thèse des flux incontrôlés et démesurés. Puis ils ont plébiscité la proposition d’augmenter les moyens financiers de l’agence Frontex en mai 2022.
				</p>

				
				
			</div>
		</div>
			
			
		<div class="container max-w-screen-2xl px-4 relative bg-white">
			<div class="container max-w-2xl mb-12">		
				<figure class="pt-4 pb-6 w-full md:w-4/5 mx-auto">
					<span class="text-xl md:text-2xl chart-title block mb-2 border-t-custom border-t-black pt-4 pb-4 md:pb-3 leading-none">Espace Shengen: 420 millions d'Européens concernés</span>
					<img src="img/this/europe.png" alt="La manière dont sébastien ingère sa drogue">
					<figcaption class="py-2 text-xs opacity-50">Source: Union Européenne
					</figcaption>
				
				</figure>
				<p class="text-lg font-light mb-16 md:mb-20">Bien que pays membre de l’espace Schengen, la Suisse n’a pas à respecter la charte des droits fondamentaux de l’Union européenne, le règlement de Dublin ou les directives communautaires sur l’asile. Elle n’est pas non plus concernée par le pacte «Asile et migration» enfin adopté au niveau des 27 le 20 décembre 2023, malgré le désaccord exprimé par la Pologne et la Hongrie. Son cadre juridique est défini par la loi sur l’asile, la loi fédérale sur les étrangers et la loi fédérale sur la procédure administrative.
				</p>
				
				

			</div>
		</div>

		<!-- CHAPITRE 3 -->
		<section id="title3" class="bg-custom-color overflow-visible py-6 md:py-12 mb-16">
			<div class="container max-w-2xl relative">
				<img src="img/this/title-dot.svg" alt="" class="w-3/4 top-0 mx-auto">
				<div class="absolute top-0 left-1/2 -translate-x-1/2 text-center">
					<span class="uppercase text-normal md:text-xl font-sans font-light my-3 md:my-5 block tracking-widest">Chapitre 3</span>
					<h3 class="uppercase font-semibold pb-2.5 md:pb-4 relative">
						<span class="w-44 md:w-64 h-1 bg-black absolute top-0 left-1/2 -translate-x-1/2"></span>
						<span class="w-44 md:w-64 h-1 bg-black absolute bottom-0 left-1/2 -translate-x-1/2"></span>
						Les&nbsp;juges&nbsp;étrangers
					</h3>
				</div>
				<img src="img/this/title-judge.png" alt="" class="absolute bottom-8 md:-bottom-8 md:max-w-none -mx-0 lg:-mx-32 xl:-mx-64">
			</div>
		</section>

		<div class="container max-w-screen-2xl px-4 relative bg-white">
			<div class="container  max-w-2xl mb-12">
				<!-- <figure class="w-1/2 float-right ml-6 mb-6 -mr-48">
					<img src="img/this/bruxelles.png" alt="La manière dont sébastien ingère sa drogue">
					<figcaption class="py-2 text-xs">A Luxembourg, la Cour de Justice de l'Union européenne dit le droit communautaire pour les 27 États-membres – Getty Images</figcaption>
				</figure> -->
				<p class="lettrine text-lg font-light mb-6">
					
					Prêts pour entrer dans le dédale juridique entre la Confédération et l’Union européenne? Attention, rien n’est plus ardu que ce labyrinthe légal, dont les détracteurs de l’UE font leur miel sur le thème des «juges étrangers». Comme si Bruxelles souhaitait annexer Berne et mettre au pas tous les magistrats du pays, des juridictions cantonales au Tribunal Fédéral.
					
				</p>

				<figure class="pt-4 pb-6 -mx-0 lg:-mx-32 xl:-mx-64">
					<div class=" grid gap-4 md:grid-cols-2">
						<div class="">
							<img src="img/this/bruxelles.jpg" alt="Les cahiers de sébastien, sous l'emprise de la drogue">
							<figcaption class="py-2 text-xs opacity-50">À Luxembourg, la Cour de Justice de l'Union européenne dit le droit communautaire pour les 27 États-membres. - Shutterstock</figcaption>
						</div>
						<div class="">
							<img src="img/this/lausanne.jpg" alt="Les cahiers de sébastien, sous l'emprise de la drogue">
							<figcaption class="py-2 text-xs opacity-50">Le Tribunal Fédéral est, à Lausanne, l'autorité judiciaire suprême de la Confédération suisse. – Shutterstock</figcaption>
						</div>
					</div>
					<!-- <figcaption class="py-2 text-xs mb-6">Lors de ses <i>trips</i> sous LSD, Sébastien plonge dans son inconscient, dessine, écrit: «Trois ans de thérapie en une soirée.»</figcaption> -->
				</figure>


				<p class="text-lg font-light mb-6">On vous la fait courte et claire: l’Union a toujours souhaité que la Suisse reprenne automatiquement l’évolution de son droit lorsqu’il est pertinent pour les accords bilatéraux. Raison logique: ces accords, destinés à faciliter les échanges et la coopération entre la Suisse et l’UE, doivent suivre la jurisprudence communautaire pour éviter de se retrouver «hors la loi», avec des normes trop différentes de celles en vigueur au sein des 27. Tel est le prix de l’accès, pour les produits helvétiques, au grand marché communautaire de 450 millions de consommateurs. Mieux: La Suisse le fait d’ailleurs en général sans qu’on lui demande!
				</p>

				<figure class="pt-4 pb-6">
					<img src="img/this/viktor.jpg" alt="Les cahiers de sébastien, sous l'emprise de la drogue">
					<figcaption class="py-2 text-xs opacity-50">Le premier ministre national-populiste  Viktor Hongrois s'en prend lui aussi régulièrement à la cour de justice de l'UE (CJUE) et aux juges étrangers. Dans une affaire trés symbolique, son pays a été condamné par la CJUE en octobre 2020, pour avoir enfreint la liberté académique avec sa loi de 2017 sur l'implantation des universités étrangères, dont celle financée par le milliardaire d'origine hongroise Georges Soros. – Illustration par thedailybeast.com</figcaption>
				</figure>

				<p class="text-lg font-light mb-16 md:mb-20">Reste une évidente réalité. La Confédération, pays non-membre de l’UE, voit sa marge de manœuvre juridique limitée en tant que partenaire de l’Union. C’est d’ailleurs comme cela que ça se passe avec la Norvège, l’Islande et le Liechtenstein au sein de l’Espace économique européen (EEE) (auquel les Suisses ont refusé d’adhérer lors du référendum du 6 décembre 1992). La question des juges étrangers n’est donc pas dénuée de sens. Mais ceux-ci, s’ils peuvent interférer dans le processus légal helvétique, n’auront jamais le dernier mot. Bruxelles peut tout au plus choisir d’activer la clause de «règlement des différends» qui demeurera dans les futurs accords bilatéraux. L’idée d’un tribunal arbitral est désormais actée. Si une partie estime que l’autre partie ne se conforme pas à la décision du tribunal arbitral, elle pourra prendre des mesures de compensation.
				</p>
				
			</div>
		</div>

		<!-- CHAPITRE 4 -->
		<section id="title4" class="bg-custom-color overflow-visible py-6 md:py-12 mb-16">
			<div class="container max-w-2xl relative">
				<img src="img/this/title-dot.svg" alt="" class="w-3/4 top-0 mx-auto">
				<div class="absolute top-0 left-1/2 -translate-x-1/2 text-center">
					<span class="uppercase text-normal md:text-xl font-sans font-light my-3 md:my-5 block tracking-widest">Chapitre 4</span>
					<h3 class="uppercase font-semibold pb-2.5 md:pb-4 relative">
						<span class="w-44 md:w-64 h-1 bg-black absolute top-0 left-1/2 -translate-x-1/2"></span>
						<span class="w-44 md:w-64 h-1 bg-black absolute bottom-0 left-1/2 -translate-x-1/2"></span>
						Les&nbsp;salaires
					</h3>
				</div>
				<img src="img/this/title-salaires.png" alt="" class="absolute md:max-w-screen-md -bottom-12 md:-left-20">
			</div>
		</section>

		<div class="container max-w-screen-2xl px-4 relative bg-white">
			<div class="container  max-w-2xl mb-12">
						
				<p class="lettrine text-lg font-light mb-6">
					
					Je n’ai pas besoin de vous faire un dessin. Avec la phobie de l’immigration et la prétendue disparition des frontières, la concurrence salariale «déloyale» des 27 pays membres de l’Union européenne est le sujet qui fâche le plus en Helvétie. Logique: en 2022, les pays qui versaient les salaires annuels médians les plus élevés en 2022 sur le Vieux Continent étaient la Suisse (106 839 €), l’Islande (81 942 €), le Luxembourg (79 903 €) et la Norvège (74 506 €).
					
				</p>

				<figure class="w-full md:w-1/2 md:float-right md:-mr-32 md:ml-12 pt-4 pb-6 md:pt-0 md:pb-0">
					<img src="img/this/eurostat.jpg" alt="">
					<figcaption class="py-2 text-xs opacity-50">Eurostat est l'Office Européen de statistiques situé dans le quartier Kirchberg de la ville de Luxembourg, au Luxembourg. – Photo par Carlos Goulão
					</figcaption>
				</figure>
				<p class="text-lg font-light mb-6">
					Des chiffres fournis par Eurostat, l’agence statistique européenne, dont le portrait salarial de l’Europe a de quoi inquiéter de ce coté-ci des Alpes. A l'opposé du spectre, un employé qualifié bulgare gagnait en 2022, selon cette étude, 12 923 euros par an. Or la Bulgarie, pour ceux qui ne le savent pas, fera avec la Roumanie son entrée dans l’espace Schengen le 31 mars 2024. Les travailleurs bulgares candidats à l'expatriation seront donc encore plus nombreux. L'urgence des «mesures d’accompagnement» exigées par les syndicats helvétiques pour empêcher un «dumping social» est, dès lors, difficilement contestable.
				</p>

				<figure id="chart-smic" class="w-full mx-auto pt-4 pb-6" style="translate: none; rotate: none; scale: none; transform-origin: 50% 50%; transform: translate(0px, 0px); opacity: 1; visibility: inherit;">

					<span class="text-xl md:text-2xl chart-title block mb-2 border-t-custom border-t-black pt-4 pb-4 md:pb-3 leading-none">Le revenu minimum genevois parmi les SMIC les plus élevés en Europe (2023)</span>

					<ul class="font-sans-2 font-semibold text-lg leading-none">
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">1</span>
							<img src="img/this/flag-swi.svg" alt="" class="mr-3">
							<span class="block w-12">SUI (ge)</span>
							<span class="bar bar-first block grow bg-custom-bar2 h-5 flex items-center relative" value="4320">
								<span class="value absolute -right-14"><span class="counter2">0</span>€</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">2</span>
							<img src="img/this/lux.svg" alt="" class="mr-3">
							<span class="block w-12">LUX</span>
							<span class="bar bar-first block grow bg-custom-bar h-5 flex items-center relative" value="2387">
								<span class="value absolute -right-14"><span class="counter2">0</span>€</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">3</span>
							<img src="img/this/ger.svg" alt="" class="mr-3">
							<span class="block w-12">ALL</span>
							<span class="bar bar-first block grow bg-custom-bar h-5 flex items-center relative" value="1997">
								<span class="value absolute -right-14"><span class="counter2">0</span>€</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">4</span>
							<img src="img/this/bel.svg" alt="" class="mr-3">
							<span class="block w-12">BEL</span>
							<span class="bar bar-first block grow bg-custom-bar h-5 flex items-center relative" value="1955">
								<span class="value absolute -right-14"><span class="counter2">0</span>€</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">5</span>
							<img src="img/this/ned.svg" alt="" class="mr-3">
							<span class="block w-12">NED</span>
							<span class="bar bar-first block grow bg-custom-bar h-5 flex items-center relative" value="1934">
								<span class="value absolute -right-14"><span class="counter2">0</span>€</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">6</span>
							<img src="img/this/ire.svg" alt="" class="mr-3">
							<span class="block w-12">IRE</span>
							<span class="bar bar-first block grow bg-custom-bar h-5 flex items-center relative" value="1910">
								<span class="value absolute -right-14"><span class="counter2">0</span>€</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">7</span>
							<img src="img/this/fra.svg" alt="" class="mr-3">
							<span class="block w-12">FRA</span>
							<span class="bar bar-first block grow bg-custom-bar h-5 flex items-center relative" value="1709">
								<span class="value absolute -right-14"><span class="counter2">0</span>€</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">8</span>
							<img src="img/this/slo.svg" alt="" class="mr-3">
							<span class="block w-12">SLO</span>
							<span class="bar bar-first block grow bg-custom-bar h-5 flex items-center relative" value="1203">
								<span class="value absolute -right-14"><span class="counter2">0</span>€</span>
							</span>
						</li>	
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">9</span>
							<img src="img/this/esp.svg" alt="" class="mr-3">
							<span class="block w-12">ESP</span>
							<span class="bar bar-first block grow bg-custom-bar h-5 flex items-center relative" value="1167">
								<span class="value absolute -right-14"><span class="counter2">0</span>€</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">10</span>
							<img src="img/this/chi.svg" alt="" class="mr-3">
							<span class="block w-12">CHY</span>
							<span class="bar bar-first block grow bg-custom-bar h-5 flex items-center relative" value="940">
								<span class="value absolute -right-14"><span class="counter2">0</span>€</span>
							</span>
						</li>					<!-- <li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">2</span>
							<img src="img/this/flag-swi.svg" alt="" class="mr-3">
							<span class="block w-12">SUI</span>
							<span class="bar block grow bg-custom-bar2 h-5 flex items-center relative" value="26.0">
								<span class="value absolute -right-14"><span class="counter">0</span>%</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">3</span>
							<img src="img/this/mal.svg" alt="" class="mr-3">
							<span class="block w-12">MAL</span>
							<span class="bar bar-first block grow bg-custom-bar h-5 flex items-center relative" value="20.1">
								<span class="value absolute -right-14"><span class="counter">0</span>%</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">4</span>
							<img src="img/this/chi.svg" alt="" class="mr-3">
							<span class="block w-12">CHY</span>
							<span class="bar block grow bg-custom-bar h-5 flex items-center relative" value="18.5">
								<span class="value absolute -right-14"><span class="counter">0</span>%</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">5</span>
							<img src="img/this/aut.svg" alt="" class="mr-3">
							<span class="block w-12">AUT</span>
							<span class="bar block grow bg-custom-bar h-5 flex items-center relative" value="17.1">
								<span class="value absolute -right-14"><span class="counter">0</span>%</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">6</span>
							<img src="img/this/est.svg" alt="" class="mr-3">
							<span class="block w-12">EST</span>
							<span class="bar block grow bg-custom-bar h-5 flex items-center relative" value="15.1">
								<span class="value absolute -right-14"><span class="counter">0</span>%</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">7</span>
							<img src="img/this/let.svg" alt="" class="mr-3">
							<span class="block w-12">LET</span>
							<span class="bar block grow bg-custom-bar h-5 flex items-center relative" value="13.3">
								<span class="value absolute -right-14"><span class="counter">0</span>%</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">8</span>
							<img src="img/this/ire.svg" alt="" class="mr-3">
							<span class="block w-12">IRE</span>
							<span class="bar block grow bg-custom-bar h-5 flex items-center relative" value="13.0">
								<span class="value absolute -right-14"><span class="counter">0</span>%</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">9</span>
							<img src="img/this/bel.svg" alt="" class="mr-3">
							<span class="block w-12">BEL</span>
							<span class="bar block grow bg-custom-bar h-5 flex items-center relative" value="12.8">
								<span class="value absolute -right-14"><span class="counter">0</span>%</span>
							</span>
						</li>
						<li class="flex items-center  border-t border-t-gray-300 py-4">
							<span class="mr-4 opacity-20 w-3 mr-6 text-right">10</span>
							<img src="img/this/ger.svg" alt="" class="mr-3">
							<span class="block w-12">ALL</span>
							<span class="bar block grow bg-custom-bar h-5 flex items-center relative" value="12.7">
								<span class="value absolute -right-14"><span class="counter">0</span>%</span>
							</span>
						</li> -->
						
					</ul>
					
					<figcaption class="py-2 text-xs opacity-50">Données: Insee.fr / Note : absence de résultat due à la nature des choses pour pour l’Autriche, le Danemark, la Finlande, l’Italie et la Suède.
					</figcaption>
				</figure>

				<p class="text-lg font-light mb-6">Vous craignez pour vos revenus et la concurrence de ces travailleurs européens moins bien payés ? La France - dont entre 150 000 et 200 000 frontaliers travaillent en Suisse - est un assez bon exemple d'un marché du travail bousculé par l'afflux de main d'oeuvre est-européenne. De l’autre côté de la frontière, des pans entiers de l’économie ne fonctionnent désormais plus que grâce aux bas salaires des Européens de l’est. C’est le cas pour des secteurs comme le bâtiment, le fret routier, la manutention ou les transports. Les électeurs français, en 2005, avaient d’ailleurs sonné l’alarme. La peur (légitime) du «plombier polonais» avait fait des ravages dans les urnes, lors du référendum du 29 mai 2005 sur le projet de constitution européenne. La gauche, en particulier le parti socialiste alors dominant, s’était divisée. Résultat: 55% de Non et 45% de Oui. La question salariale avait creusé la tombe du texte finalement abandonné après son rejet, deux jours plus tard, par les électeurs néerlandais.
				</p>

				<!-- <figure class="w-1/2 float-left -ml-32 mr-12">
					<img src="img/this/unia.jpg" alt="">
					<figcaption class="py-2 text-xs opacity-50">Eurostat est l'Office Européen de statistiques situé dans le quartier Kirchberg de la ville de Luxembourg, au Luxembourg. Photos: Carlos Goulão
					</figcaption>
				</figure> -->

				<blockquote class="quote2  w-4/5 mx-auto left-auto md:left-3/4  text-custom-dark1 pt-3 md:pt-6 pb-5 md:pb-5 mb-10 md:mb-0 text-center">
					<img src="img/this/pym.png" alt="" class="mx-auto w-20 md:w-24 mb-6">
					<div class="linetop w-full h-px bg-custom-dark1 absolute top-0" style="width: 100%;"></div>
					<div class="linebottom w-full h-px bg-custom-dark1 absolute bottom-0" style="width: 100%;"></div>
					<span class="quote-txt block" style="translate: none; rotate: none; scale: none; transform: translate(0px); opacity: 1; visibility: inherit;">«&nbsp;Nous sommes en faveur d’un accord avec Bruxelles, s’il assure de meilleures conditions de travail en Suisse et si notre service public demeure garanti&nbsp;»</span>
					<span class="auth block mt-5 text-custom-color " style="translate: none; rotate: none; scale: none; transform: translate(0px); opacity: 1; visibility: inherit;">– Pierre-Yves Maillard, Conseiller aux États (PS) dans Blick, 17 décembre 2023
					</span>
				</blockquote>

				<p class="text-lg font-light mb-16 md:mb-20">Faut-il donc craindre pour une pression à la baisse sur les salaires en Suisse? Oui. Et c’est bien pour cela que les syndicats ne lâchent pas l’affaire, notamment sur les frais de leurs employés détachés en Suisse. Sur quelle base seront-ils calculés? Le Conseiller aux États vaudois Pierre-Yves Maillard affirmait récemment dans Blick qu’au final, rien qu’en raison de cette différence de calcul des frais, la différence entre un salarié suisse et européen pourrait atteindre 3000 francs mensuels. Logique donc, pour les syndicats, de continuer à réclamer des compensations. Ce dont il faut d’ailleurs se féliciter. Impossible en effet de construire une Europe plus intégrée et plus unie sur un moins disant social chronique. Jacques Delors, l’ancien président de la Commission européenne récemment disparu, plaidait pour inscrire dans le traité européen un chapitre sur l’emploi. Il n’a pas été entendu. L’on peut déjà anticiper, sans risque de se tromper, que même en cas d’accord entre le Conseil fédéral et la Commission européenne dans les prochains mois, la question des salaires sera l’objet central, avec l’immigration, de la campagne référendaire qui suivra.
				</p>
				
			</div>
		</div>

		<!-- CHAPITRE 5 -->
		<section id="title5" class="bg-custom-color overflow-visible py-6 md:py-12 mb-24">
			<div class="container max-w-2xl relative overflow-visible">
				<img src="img/this/title-dot.svg" alt="" class="w-3/4 top-0 mx-auto">
				<div class="absolute top-0 left-1/2 -translate-x-1/2 text-center">
					<span class="uppercase text-normal md:text-xl font-sans font-light my-3 md:my-5 block tracking-widest">Chapitre 5</span>
					<h3 class="uppercase font-semibold pb-2.5 md:pb-4 relative">
						<span class="w-44 md:w-64 h-1 bg-black absolute top-0 left-1/2 -translate-x-1/2"></span>
						<span class="w-44 md:w-64 h-1 bg-black absolute bottom-0 left-1/2 -translate-x-1/2"></span>
						La&nbsp;démocratie
					</h3>
				</div>
				<img src="img/this/title-votations.png" alt="" class="absolute -bottom-16 md:-bottom-28 w-10/12 md:w-11/12 z-10 left-1/2 -translate-x-1/2">
			</div>
		</section>

		<div class="container max-w-screen-2xl px-4 relative bg-white">
			<div class="container  max-w-2xl mb-12">
							
				<p class="lettrine text-lg font-light mb-6">Le parlement européen peut-il vraiment être considéré comme l’expression démocratique des quelques 400 millions d’électeurs des pays membres de l’Union? Posez la question, c’est y répondre par la négative. Certes, ce parlement de 720 eurodéputés élus pour cinq ans au suffrage universel (depuis 1979) l’onction du suffrage universel direct. Mais ce scrutin n’a, dans les faits, presque rien d’Européen. Les listes sont nationales. Les plus petits pays (Luxembourg, Malte, Chypre…) sont assurés d’un minimum de six élus, soit un eurodéputé pour moins de cent mille électeurs, alors que l’Allemagne et ses 83 millions d’habitants n’envoie à Strasbourg «que» 96 élus, le plus gros contingent de l’hémicycle. La Suisse, à titre d’exemple, disposerait comme l’Autriche d’une vingtaine de sièges si elle faisait partie de l’UE.
				</p>
				<figure class="-mx-0 lg:-mx-32 xl:-mx-64 pt-4 pb-6">
					<div class="grid gap-4 md:grid-cols-2">
						<div class="">
							<img src="img/this/parlement1.jpg" alt="Les cahiers de sébastien, sous l'emprise de la drogue">
							<!-- <figcaption class="py-2 text-xs">A Luxembourg, la Cour de Justice de l'Union européenne dit le droit communautaire pour les 27 États-membres - Shutterstock</figcaption> -->
						</div>
						<div class="">
							<img src="img/this/parlement2.jpg" alt="Les cahiers de sébastien, sous l'emprise de la drogue">
							<!-- <figcaption class="py-2 text-xs">Le Tribunal Fédéral est, à Lausanne, l'autorité judiciaire suprême de la Confédération suisse – Shutterstock</figcaption> -->
						</div>
					</div>
					<figcaption class="py-2 text-xs opacity-50">Le parlement européen à Strasbourg. – Shutterstock</figcaption>
				</figure>
				<p class="text-lg font-light mb-6">Le plus grave, vu d’Helvétie, est surtout l’absence totale de démocratie directe. Il n’existe pas de mécanisme référendaire au niveau européen. La Confédération, où toutes les décisions politiques majeures sont sanctionnées par le peuple, perdrait donc au change si elle devait intégrer l’Union. La mythologie politique joue aussi un rôle: comment ne pas voir dans l’Union européenne un échafaudage politique sans âme, dès lors que les électeurs ne sont convoqués qu’une fois tous les cinq ans, pour désigner un parlement au sein duquel, ensuite, une coalition majoritaire (jusque-là composée des sociaux-démocrates et des conservateurs) fait la pluie et le beau temps face à une Commission dont les membres sont désignés par les gouvernements des États membres?
				</p>
				<blockquote class="quote2  w-4/5 mx-auto left-auto md:left-3/4  text-custom-dark1 pt-3 md:pt-6 pb-5 md:pb-5 mb-10 md:mb-0 text-center">
					<img src="img/this/daniel.png" alt="" class="mx-auto w-20 md:w-24 mb-6">
					<div class="linetop w-full h-px bg-custom-dark1 absolute top-0" style="width: 100%;"></div>
					<div class="linebottom w-full h-px bg-custom-dark1 absolute bottom-0" style="width: 100%;"></div>
					<span class="quote-txt block" style="translate: none; rotate: none; scale: none; transform: translate(0px); opacity: 1; visibility: inherit;">« Il faut arrêter de dire que le peuple a toujours raison »</span>
					<span class="auth block mt-5 text-custom-color " style="translate: none; rotate: none; scale: none; transform: translate(0px); opacity: 1; visibility: inherit;">– Daniel Cohn-Bendit, député européen écologiste de 1994 à 2014
					</span>
				</blockquote>
				<p class="text-lg font-light mb-16 md:mb-20">S’y ajoute le poids de la bureaucratie bruxelloise, et ses dérives. Au point que le correspondant européen du quotidien français Libération, Jean Quatremer, a signé en juillet 2023 un éditorial au vitriol intitulé «L’Union européenne, moins que jamais une démocratie». Son argument? «Peut-on avoir confiance dans les institutions européennes? En un mot, non, et c’est un fédéraliste convaincu, l’auteur de ces lignes, qui l’affirme. Faute de contrepouvoirs, d’organes de contrôle indépendant et surtout de société civile européenne, elles ont pu organiser leur irresponsabilité». Dont acte.
				</p>
				
			</div>
		</div>

		
		

		

		

		<footer class="container py-8 max-w-full relative">   
			<div class="w-80 top-1/2 left-1/2 -translate-x-2/4 -translate-y-2/4 absolute">
				{{ block('credits') }}  
			</div>
		</footer> 
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		
		{# <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script> #}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.js"></script>
		<script src="js/counter-up.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
		<!-- <script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script> -->
		
		<!-- <script src="js/yt.js"></script> --> 
		<script src="js/vendor/modernizr-3.11.2.min.js"></script> 
		<!-- <script src="js/plugins.js"></script> -->
		<script src="js/header.js"></script>
		<!-- <script src="js/charts.js"></script> -->
		<script src="js/main.js"></script>
		{# <script src="js/intro.js"></script> #}
		<!-- <script src="js/headroom.min.js"></script> -->
		

	</div>
	</body>
</html>
